# APP
NEXT_PUBLIC_APP_NAME="SecureScan"
NEXT_PUBLIC_APP_URL=http://localhost:3000

# AUTH
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-here

# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

# SECURITY APIs
# VirusTotal — https://www.virustotal.com/gui/my-apikey
VIRUSTOTAL_API_KEY=your-virustotal-key

# Shodan — https://account.shodan.io
SHODAN_API_KEY=your-shodan-key

# IPInfo — https://ipinfo.io/account/token
IPINFO_TOKEN=your-ipinfo-token

# OAuth (opsiyonel)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
